body {
    background: url(../images/main2.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    padding-top: 20px;
}

li img {
    position: absolute;
    top: 5px;
    right: 5px;
}

li p {
    position: absolute;
    top: 5px;
    left: 10px;
    color: red;
}

ul {
    padding: 0;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

input {
    background: white;
    border-radius: 5px;
    border-width: 6px;
    font-size: 20px;
    font-weight: bold;
    width: 80% !important;
    text-align: center;
    color: black !important;
}

.woodbutton {
    background: url(../images/woodbutton.png) no-repeat center;
    max-height: 80px;
    height: 45px;
    max-width: 550px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    align-content: center;
    align-self: center;
    margin: 5px 5px 5px 5px;
    text-shadow: 1px 1px silver;
}

table {
    max-width: 350px !important;
    width: 350px !important;
}

#PocketHeader {
    font-weight: bold;
    font-size: 46px;
    color: lightgreen;
    text-shadow: 2px 2px black;
}

#PocketValue {
    font-weight: bold;
    font-size: 42px;
}

#SavingsHeader {
    font-weight: bold;
    font-size: 46px;
    color: blue;
    text-shadow: 1px 1px black;
}

#SavingsValue {
    font-weight: bold;
    font-size: 42px;
}

.horizontal-table th, td {
    width: 50%;
    padding: 0;
}


.RewardPocket {
    font-weight: bold;
    left: 5px;
    position: absolute;
    color: lightgreen;
    font-size: 15px;
    text-shadow: 1px 1px black;
}

.GoalPocket {
    font-weight: bold;
    color: lightgreen;
    font-size: 15px;
    text-shadow: 1px 1px black;
}


.RewardSavings {
    font-weight: bold;
    right: 5px;
    position: absolute;
    color: blue;
    font-size: 15px;
    text-shadow: 1px 1px #eeeeee;
}

.RewardTask {
    font-weight: bold;
    font-size: medium;
    color: white;
    text-shadow: 1px 1px black;
}

#goalsList {
    list-style: none;
}


    #goalsList li {
        background: linear-gradient(to bottom, #e2b792, #bb9473);
        margin: 5px;
        position: relative;
        display: block;
        min-height: 33px;
        color: white;
        text-shadow: 1px 1px black;
        padding-bottom: 10px;
        border: 1px solid #929292;
        border-radius: 2px;
    }

#rewardsList {
    list-style: none;
}


    #rewardsList li {
        background: linear-gradient(to bottom, #e2b792, #bb9473);
        margin: 5px;
        position: relative;
        display: block;
        min-height: 33px;
        color: white;
        text-shadow: 1px 1px black;
        padding-bottom: 10px;
        border: 1px solid #929292;
        border-radius: 2px;
    }

.insufficient {
    color: red !important;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
