body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
    background:url("../images/main2.png") no-repeat center center fixed;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.woodbutton {
    background: url(../images/woodbutton.png) no-repeat center;
    height: 60px;                  
    width: 250px;
    text-align: center;
    font-weight : bold;
    font-size: large;
    align-content:center;
    align-self:center;
}

button {
  background: url(../images/woodbutton.png) no-repeat center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 200px;
  border: none;
  font-weight: bold;
}

button span {
  display: none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
